@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --logo-color: "#6956E5";
  --headingColor: rgba(0, 0, 0, 0.25);
  --hoverColor-Sidebar: "#6956E5";
  --primaryText: "#000000";
  --secondaryText: "#878787";
  --logoText: "22px";
  --headingText: "40px";
}

html,
body,
#root,
.app,
.content {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: black;
}
.app {
  display: flex;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

Link {
}
